* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}
.main {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 900px;
}

.picture-container {
  width: 450px;
  background-image: url("images/bg-pattern-desktop.svg");
  background-size: cover;
  position: relative;
}

.women-img {
  width: 100%;
}

.accordian {
  width: 450px;
}
.accordian .item {
  cursor: pointer;
  border-bottom: 1px solid black;
  padding: 10px;
}
.accordian .item .label {
  position: relative;
}

.accordian .item.active .label {
  position: relative;
  font-weight: bold;
}

.accordian .item .label [name="chevron-down-outline"] {
  position: absolute;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

.accordian .item.active .label [name="chevron-down-outline"] {
  transform: rotate(180deg);
  color: orange;
}

.accordian .item .content {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.accordian .item.active .content {
  height: 20px;
}
